<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chef.app.demo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.HomeActivity"
            android:label="Dashboard"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.PickUpActivity"
            android:label="Pick Up"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.DeliveryActivity"
            android:label="Delivery"
            android:screenOrientation="portrait" />
        <activity android:name=".Activities.PickUpDetailsActivity" />
        <activity android:name=".Activities.DeliveryDetailsActivity"></activity>
    </application>

</manifest>